li {
    font-family: sans-serif;
}
h1 {
    font-family: "Helvetica", "Arial", fantasy;
    color: darkred;
}
h2 {
    font-family: "Helvetica", "Arial", fantasy;
    color: darkmagenta;
}
h3 {
    font-family: "Helvetica", "Arial", fantasy;
    color: blueviolet;
}